<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Detalhes do Produto - ERP</title>
</head>
<body>
    {% if produto %}
        <h1>Detalhes do Produto {{ produto.nome }}</h1>

        <ul>
            <li><b>Nome:</b> {{produto.nome}}</li>
            <li><b>Descrição:</b> {{produto.descricao}}</li>
            <li><b>Preço:</b> {{produto.preco}}</li>
        </ul>
    {% else %}
        <h1>Nenhum produto encontrado para este ID</h1>
    {% endif %}
</body>
</html>